<style>
    th, td {
    border: 1px solid;
    border-color: #96D4D4;
}
</style>
@model IEnumerable<StudentApp.Models.Student>
    <h1>Student List</h1>
    <a href="/Student/Create">Create New Student</a>


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model){
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Age</td>
                <td>@student.Email</td>
                <td> 
                    <a href="/Student/Edit/@student.Id">Edit</a> 
                    <a href="/Student/Delete/@student.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>